<div class="lg-container">
    <div class="lg-container__container">
        <div class="lg-container__main">
            <div class="lg-container__form">
                <div class="lg-container__link-bottom">
                    <span class="lg-container__content-bottom">If you dont have a account ? Then you can </span>
                    <a href="/auth/register" routerLink="/auth/register" class="lg-container__btn lg-container__btn--pink login--title">Register &rarr;</a>
                </div>
                <form class="form">
                    <div class="form__u-margin-bottom-big">
                        <h2 class="form__heading-secondary">Sign-in account</h2>
                    </div>
                    <div class="form__group">
                        <label for="email" class="form__label">Email Address</label>
                        <input type="text" class="form__input" name="email" placeholder="Email Address" id="email" [(ngModel)]="email1"
                        minlength="4" maxlength="20" required>
                    </div>
                    <div class="form__group">
                        <label for="password" class="form__label">Password</label>
                        <input type="password" class="form__input" placeholder="Password" id="password" [(ngModel)]="password1" required>
                    </div>
                    <div class="form__group form__action">
                        <button (click)="signIn()" class="form__btn form__btn--white">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>